@charset  " utf-8 " ;
/ * Documento CSS * /

  * {
	caja de tamaño : frontera-box ; / * para mantener el tamaño de las cajas, relleno y margen * /
	
	}
	
	cuerpo {
		color de fondo : blanco ;
		ancho : 70 % ;
		relleno : 20 px ;
		margen : 0  auto ; / * centrar la página * /
		Familia tipográfica : Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana , " sans-serif " ;
	}
	main {
		color de fondo : #EFEFEF ;
		ancho : 100 % ;
		Relleno : 0  auto ;
		margen : 0  auto ; / * centrar la página * /
		Familia tipográfica : Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana , " sans-serif " ;
		}
	img {
		ancho : 25 px ;
		alineación vertical : medio ;
		
	}
	h2 {
		alineación de texto : izquierda ;
		}
	.form_principal {
		pantalla : flexión ; / * Propiedad que define la flexión * /
		dirección de flexión : fila ;
		envolver con flexión : nowrap ;
	}
	.form_principal  >  div {
		ancho : 100 % ;
	}
	.form_direccion {
		pantalla : flexión ; / * Propiedad que define la flexión * /
		dirección flexible : columna ;
		envolver con flexión : nowrap ;
		relleno : 0  5 px  0  0 ;
		
	}
	.form_direccion  >  div {
		ancho : 100 % ;
	}

	.form_direccion  img {
				ancho : 15 px ;
				margen derecho : 5 px ;
				margen inferior : 7 px ;
			}
	#estado {
		ancho : 200 px ;
		margen derecho : 20 px ;
	}

	.form_pago {
		pantalla : flexión ; / * Propiedad que define la flexión * /
		dirección flexible : columna ;
		envolver con flexión : nowrap ;
		Relleno : 0  0  0  20 px ;
		
	}
	.form_pago  >  div {
		ancho : 100 % ;
	}
	.form_pago  img {
				ancho : 40 px ;
				margen derecho : 5 px ;
				alineación vertical : medio ;
			}
	#form_pago {
			margen superior : 7 px ;
		}
	.estado_codigo {
		pantalla : flexión ; / * Propiedad que define la flexión * /
		dirección de flexión : fila ;
		envolver con flexión : nowrap ;
		
	}
	.estado_codigo  >  div {
		ancho : 100 % ;
	}
	.anyo_cvv {
		pantalla : flexión ; / * Propiedad que define la flexión * /
		dirección de flexión : fila ;
		envolver con flexión : nowrap ;	
	}
	.anyo_cvv  >  div {
		ancho : 100 % ;
	}
	# anyo_exp2 {
		ancho : 300 px ;
		margen derecho : 20 px ;
	
	}
	 Pantalla  @media y ( ancho máximo : 800 px ) {
		.form_principal {
				dirección flexible : columna ;
				ancho : 100 ;
			}
  	}
	etiqueta {
		tamaño de letra : 0.8 em ;
		peso de la fuente : más audaz ;
		}
	forma {
		margen : 0  15 px ;
	}
	ingrese [ tipo = texto ], ingrese [ tipo = correo electrónico ], .listas {
		  ancho : 100 % ;
		  borde : 1 px  gris sólido  ;
		  relleno : 10 px  10 px ;
		  margen superior : 2 px ;
		}
	
	entrada [ tipo = enviar ] {
		  pantalla : bloque ;
		  ancho : 100 % ;
		  fondo : # 089F0B ;
		  color : blanco ;
		  relleno : 10 px ;
		  margen : 10 px  20 px  34 px  0 px ;
		  radio del borde : 5 px ;
		}
	entrada [ type = submit ] : hover {
		  fondo : verde oscuro ;
		  color : amarillo ;
		  }
	.recordarme {
		margen superior : 20 px ;
		}
	.recordarme  a {
		tamaño de letra : 0.8 em ;
		}
	.recordarme  a : flotar {
		color : darkred ;
		texto-decoración : ninguno ;
		}
	.terminos {
		tamaño de letra : 0.8 em ;
	}