@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;
  font-family:Tahoma,Geneva, sans-serif;
	font-size:1em;
	padding: 0px; /*con esto corregimos las etiquetas que lleguen marguen y padding. */
	margin: 0px;
	}

fieldset {
	background-color: darkgrey;
	width: 50%;
	margin: 5% 25%;
	padding: 3%;
	border-radius: 1%;
}
label {
	font-size: 1.5em;
	margin: 2%;
	
}
span {
	color: maroon;
}
input[type="text"] {
	padding: 5px;
	border-radius: 6px 6px; 
	margin: 2%;
	width: 90%;
}
textarea {
	padding: 5px;
	border-radius: 6px 6px; 
	margin: 2%;
	width: 90%;
}
legend {
	font-size: 1.7em;
	
}
input[type="submit"]{
	background-color: green;
	width: 20%;
	padding: 2%;
	color: white;
	font-size: 1.5em;
	margin: 3% 2%;
	
}
input[type="checkbox"]{
	padding: 3px;
	font-size: 1.5em;
	margin: 0% 2%;
}