@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;
  font-family:Tahoma,Geneva, sans-serif;
	font-size:1em;
	padding: 0px; /*con esto corregimos las etiquetas que lleguen marguen y padding. */
	margin: 0px;
	
}
	
#cuerpo {
	background-color:lightgray;
}	

#cabecera {
	background-color: blue;
	height: 216px;
}

#div_c1 {
	width: 15%; 
	float: left;
	padding: 10px;
		
}
#div_c2 {
	float: left;
	width: 85%;
	padding: 20px;
}

#cabecera h1 {
	color: lightgoldenrodyellow;
	font-size: 40px;
}

#cabecera h2 {
	color: lightgoldenrodyellow;
	font-size: 30px;
}

#cabecera h3 {
	text-align: center;
}

#navegacion {
	background-color: lightblue;
	text-align: center;
	height: 30%;
	padding: 30px;
}
#navegacion ul {
	list-style-type: none;
	
}
#navegacion li {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	
	}
#navegacion li a{
	padding: 3px;
	text-decoration: none;
	color: black;
} 

#navegacion li a:hover{
	padding: 3px;
	text-decoration: none;
	color: red;
} 
#navegacion li a:active{
	padding: 3px;
	text-decoration: none;
	color: blue;
} 
#seccion {
	background-color: skyblue;
	padding: 10px;
	margin: 35px;
	width: 95%;
}
#seccion ul {
	list-style-type: none;
}
#seccion article {
	background-color: lightyellow;
	width: 45%;
	margin: 30px;
	display: inline-block;
	border: 2px solid black;
}
#seccion li {
	padding: 30px 20px;
	
}
#seccion li h1 {
	color: darkblue;
	padding: 10px 0px;
	font-size: 1.5em;
}
#seccion a{
	padding: 10px;
	text-decoration: none;
	color: white;
	background-color: blue;
}
#seccion a:hover{
	color:red;
}
#seccion p{
	padding: 20px 0px;
}
#seccion hr{
	margin: -5% 5% 5% 5%;
}

#contenedor {
	background-color: skyblue;
	width: 100%;
}