@charset "utf-8";
/* CSS Document */

  * {
	box-sizing: border-box; /* para mantener el tamaño de cajas incluyendo padding y margin */
	
	}
	
	body {
		background-color: white;
		width: 70%;
		padding: 20px;
		margin: 0 auto; /* centrar la página */
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	}
	main {
		background-color:#EFEFEF;
		width: 100%;
		padding: 0 auto;
		margin: 0 auto; /* centrar la página */
		font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
		}
	img {
		width: 25px;
		vertical-align: middle;
		
	}
	h2 {
		text-align: left;
		}
	.form_principal {
		display: flex; /* propiedad que define la flexión */
		flex-direction: row;
		flex-wrap: nowrap;
	}
	.form_principal > div {
		width: 100%;
	}
	.form_direccion {
		display: flex; /* propiedad que define la flexión */
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0 5px 0 0;
		
	}
	.form_direccion > div {
		width: 100%;
	}

	.form_direccion img {
				width: 15px;
				margin-right: 5px;
				margin-bottom: 7px;
			}
	#estado {
		width: 200px;
		margin-right: 20px;
	}

	.form_pago {
		display: flex; /* propiedad que define la flexión */
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0 0 0 20px;
		
	}
	.form_pago > div {
		width: 100%;
	}
	.form_pago img {
				width: 40px;
				margin-right: 5px;
				vertical-align: middle; 
			}
	#form_pago {
			margin-top: 7px;
		}
	.estado_codigo {
		display: flex; /* propiedad que define la flexión */
		flex-direction: row;
		flex-wrap: nowrap;
		
	}
	.estado_codigo > div {
		width: 100%;
	}
	.anyo_cvv {
		display: flex; /* propiedad que define la flexión */
		flex-direction: row;
		flex-wrap: nowrap;	
	}
	.anyo_cvv > div {
		width: 100%;
	}
	#anyo_exp2 {
		width: 300px;
		margin-right: 20px;
	
	}
	@media screen and (max-width: 800px) {
		.form_principal {
				flex-direction: column;
				width: 100;
			}
  	}
	label {
		font-size: 0.8em;
		font-weight: bolder;
		}
	form {
		margin: 0 15px;
	}
	input[type=text], input[type=email], .listas {
		  width: 100%;
		  border: 1px solid gray;
		  padding: 10px 10px;
		  margin-top: 2px;
		}
	
	input[type=submit] {
		  display: block;
		  width: 100%;
		  background: #089F0B;
		  color: white;
		  padding: 10px;
		  margin: 10px 20px 34px 0px;
		  border-radius: 5px;
		}
	input[type=submit]:hover {
		  background: darkgreen;
		  color: yellow;
		  }
	.recordarme {
		margin-top: 20px;
		}
	.recordarme a {
		font-size: 0.8em;
		}
	.recordarme a:hover {
		color: darkred;
		text-decoration: none;
		}
	.terminos {
		font-size: 0.8em;
	}