@charset "utf-8";
/* CSS Document */
body{
	font-family: arial,"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12px;
	background-color: rgb(150,150,150);
}

#topPagina{
	width: 100%;
	height: 100px;
	background-color: #00ff00;
}
#piePagina{
	width: 100%;
	height: 60px;
	background-color: #0000ff;
}
#mainPagina{
	width: 100%;
	height: 500px;
	background-color: #ff0000;
	}
.rojo{
	color:red;
}


#topPagina{
	width: 100%;
	height: 100px;
	background-color: #00ff00;
	}
.logo{
	width: 150px;
	height: 100%;
	background-color: #006600;
	float: left;
	}
.panel{
	width: 100%;
	height: 100%;
	background-color: #000066;
		}
.menuIzquierdo{
	width: 200px;
	height: 100px;
	background-color: #660000;
	float: left;
	}
.centro{
	width: 100%;
	height: 100%;
	background-color: #ff00ff;
	}
