@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;
  font-family:Tahoma,Geneva, sans-serif;
	font-size:1em;
	padding: 0px; /*con esto corregimos las etiquetas que lleguen marguen y padding. */
	margin: 0px;
	}

/*----------------------------------*/
.navegador > div { 
	background-color: blue;
	display: inline-flex;
}
.navegador > div{
	
}
.navegador1 > div{
	justify-content:flex-end;
}
.navegador2 > div{
	justify-content:flex-end;
}

.navegador img{
	margin: 40px 200px 40px 50px;
	width: 250px;
	
	
} 
.navegador a{
	text-decoration: none;
	list-style-type: none;
	color: lightblue;
	font-size: 1.2em;
	
} 
.navegador a:hover{
	text-decoration: none;
	list-style-type: none;
	color: red;
}

/*-------------------------------------*/
.encabezado img {
	position: relative; 
	padding: 10px;
}
.encabezado div{
	position: absolute;
	top: 50%;
	padding: 30px 0px;
	margin: 10px 0px 0px 900px;
	background-color:darkblue;
	opacity: 0.7;
		
}

.encabezado h2{
	color: white;
	font-size: 1.3em;
	padding: 10px;
	margin: 10px;
}
.encabezado p{
	color: white;
	padding: 20px;
	font-size: 1.3em;
}
.encabezado a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
	padding: 8px;
	margin: 15px;
	background-color: black;
}
.encabezado a:hover {
	color:red;
}
/*-----------------------------------*/
aside{
	width: 90%;
	margin-left: 5%;
}
.contenido{
	display: flex;
	
}

.contenido > div {
	align-content: space-around;
	margin: 10px;
	text-align: right;
	box-shadow: 6px 6px 20px #000;
	position:relative;
}
.contenido p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
}
.contenido a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido a:hover{
	text-decoration: none;
	color:red;
}
span{
	color: blue;
	font-size: 1,5em;
	margin: 10px;
}
/*------------------------*/
.contenido2{
	display: inline-flex;
}
.contenido2 > div {
	justify-content: space-around;
	margin: 10px;
	text-align: right;
	box-shadow: 6px 6px 20px #000;
	position:relative;
}
.contenido2 p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
}
.contenido2 a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido2 a:hover{
	text-decoration: none;
	color:red;
}
/*------------------------*/
.contenido3{
	display: flex;
}
.contenido3 > div {
	justify-content: space-around;
	margin: 10px;
	text-align: right;
	box-shadow: 6px 6px 20px #000;
	position:relative;
}
.contenido3 p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
}
.contenido3 a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido3 a:hover{
	text-decoration: none;
	color:red;
}
/*-------------------------------*/
.pie > div{
	display:flex;
}
.pie1 {
	background-color: cornflowerblue;
}
.pie2 {
	background-color: antiquewhite;
}
.pie3 {
	background-color: black;
}