@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box;
  font-family:Tahoma,Geneva, sans-serif;
	font-size:1em;
	padding: 0px; /*con esto corregimos las etiquetas que lleguen marguen y padding. */
	margin: 0px;
	
	}

/*----------------------------------*/
.navegador{                 /*este es el div,,, principal  */
	background-color: blue;
	display: flex;                 /*con esto activo el flex*/
	justify-content: space-between;  /*con este separo 2 div a cada lado*/
	flex-wrap: wrap;
}
.navegador div{
	display: flex;                  /*con esto activo el flex*/
	flex-direction: column;			/*creo div en columnas*/
}
/*---------------------------------*/
@media screen and (max-width: 600px){

.navegador div{
	display: flex;                  /*con esto activo el flex*/
	flex-direction: column;			/*creo div en columnas*/
}	
.navegador  div div {
	display: flex;					/*con esto activo el flex*/
	flex-direction: column;			/*con este lo pongo en horizontal*/
	/*justify-content: flex-end;*/		/*con este desplazo que empieze por la derecha el menu */ 
	/*margin-right: 20px;*/
}
.pie2 {
	display: flex;
	padding: 10px;
}
.pie2 > div {
	flex-direction: column;
	flex-wrap: wrap;
	width: 33%;	
}
.encabezado img {
	position: relative; 
	border-bottom: solid  yellow 5px;
	margin-bottom: 40px;
	
}	
.encabezado div{
	position: absolute;
	top: 5%;
	padding: 1px 0px;
	margin-left: 20%;
	border-top: 2px solid yellow;
	background-color:darkblue;
	opacity: 0.7;
	display: flex;
	flex-direction: row;
}
.encabezado div img{
	border-bottom: none;
}
.encabezado h2{
	color: white;
	font-size: 0.5em;
	padding: 1px;
	margin: 1px;
}
.encabezado p{
	color: white;
	padding: 1px;
	font-size: 2em;
}
.encabezado a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
	padding: 1px;
	margin: 1px;
	background-color: black;
}
.encabezado a:hover {
	color:red;
}
}
/*----------------------------------------*/
.navegador  div div {
	display: flex;					/*con esto activo el flex*/
	flex-direction: row;			/*con este lo pongo en horizontal*/
	justify-content: flex-end;		/*con este desplazo que empieze por la derecha el menu */ 
	margin-right: 20px;
}
.nav1{
	background-color: darkblue;
	margin: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.nav2{
	font-size: 1.3em;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.navegador img{
	padding: 40px;
	margin-left: 40px;
}	
.navegador a{
	text-decoration: none;
	list-style-type: none;
	color: lightblue;
	font-size: 1.2em;
} 
.navegador a:hover{
	text-decoration: none;
	list-style-type: none;
	color: red;
}

/*-------------------------------------*/
.encabezado img {
	position: relative; 
	border-bottom: solid  yellow 5px;
	margin-bottom: 40px;
	
}
.encabezado div{
	position: absolute;
	top: 40%;
	padding: 30px 0px;
	margin-left: 70%;
	border-top: 5px solid yellow;
	background-color:darkblue;
	opacity: 0.7;
	
}
.encabezado div img{
	border-bottom: none;
}
.encabezado h2{
	color: white;
	font-size: 1.3em;
	padding: 10px;
	margin: 10px;
}
.encabezado p{
	color: white;
	padding: 20px;
	font-size: 1.3em;
}
.encabezado a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
	padding: 8px;
	margin: 15px;
	background-color: black;
}
.encabezado a:hover {
	color:red;
}
/*-----------------------------------*/
aside{
	width: 90%;
	margin-left: 5%;
}
aside strong{
	color: blue;
	font-size: 1.5em;
	
}
aside p{
	padding: 10px;
}
.boton {
	margin: 10px;
	display: flex;
	justify-content: flex-end;
}
.boton a {
	text-decoration: none;
	color: black;
	background-color: cornflowerblue;
	padding: 10px;
}
.boton a:hover {
	text-decoration: none;
	color: red;
}
.contenido{
	display: flex;
	flex-wrap: wrap;
	
	padding: 5px;
}

.contenido > div {
	margin: auto;
	box-shadow: 6px 6px 20px #000;
	position:relative;
	width: 390px;
	text-align: right;
}
.contenido p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
	font-weight:bold;
}
.contenido a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido a:hover{
	text-decoration: none;
	color:red;
}
.contenido img:hover{
	transform: scale(1.2);
}


/*------------------------*/
.contenido2{
	display: flex;
	flex-wrap: wrap;
	/*padding: 3px;*/
}
.contenido2  div {
	margin: auto;
	width: 280px;
	text-align: right;
	box-shadow: 6px 6px 20px #000;
	position:relative;
}
.contenido2 p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
	font-weight:bold;
}
.contenido2 a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido2 a:hover{
	text-decoration: none;
	color:red;
}
.contenido2 img:hover{
	transform: scale(1.2);
}
/*------------------------*/
.contenido3 {
	display: flex;
  	flex-wrap: wrap;
	
}
.contenido3  div {
	margin: auto;
	width: 585px;
	text-align: right;
	box-shadow: 6px 6px 20px #000;
	position:relative;
	
}
.contenido3 p{
	padding-left: 15px;
	text-align: left;
	position:absolute;
	top: 150px;
	color: white;
	font-weight:bold;
}
.contenido3 a {
	text-decoration: none;
	color:black;
	padding-right: 15px;
}
.contenido3 a:hover{
	text-decoration: none;
	color:red;
}
.contenido3 img:hover{
	transform: scale(1.2);
}

/*-------------------------------*/

.pie {
	display:flex;
	flex-direction: column;
}

.pie > div {
	background-color: cornflowerblue;
	/*padding: 70px 20px 30px 20px;*/
	text-align: center;
	color: white;
	font-weight:bold;
		
}
.pie img:hover{
	transform: scale(1.5);
}

.pie a{
	color: white;
	text-decoration: none;
}
.pie a:hover{
	color: red;
	text-decoration: none;
}
.pie1 {
	text-size:3em;
	padding: 30px;
	position:relative;
	
}
.pie1 h1{
	position: absolute;
	top: 10px;
	font-size: 2em;
	left: 35%;
	background-color: cornflowerblue;
	padding: 0px 15px;
	display: flex;
	flex-wrap: wrap;
}
.pie2 {
	display: flex;
	padding: 10px;
}
.pie2 > div {
	flex-direction: row;
	flex-wrap: wrap;
	width: 33%;	
}
.pie3 {
	display: flex;
	flex-direction: row;
	padding: 10px;
	flex-wrap: wrap;
}
.pie3 > div {
margin: auto;
}
.pie4 {
	display: flex;
	flex-direction: row;
	padding: 10px;
	flex-wrap: wrap;
}
.pie4 > div {
margin: auto;
}